* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Hero Seation styles */
.header {
    background: blue;
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.banner {
    margin: 0 200px;
    text-align: right;
    padding-top: 250px;
    padding-bottom: 250px;
}

.hero-title {
    color: #FFFFFF;
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 20px;

}

.hero-description {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
}

.primary-button {
    color: #005FAC;
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    margin-top: 20px;
}


/* Second section styles */

.second-section {
    margin: 150px;
}

.section-container {
    display: flex;
}

.failure-section {
    padding-top: 300px;
    width: 500px;
    padding-left: 100px;

}

.content-title {
    color: black;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    padding-bottom: 20px;
}

.content-description {
    color: black;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 20px;
}

.main {
    max-width: 1140px;
}

/* third section styles */

.my-plans {
    text-align: center;
}
.plan-title {
    color: black;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    padding-bottom: 60px;
}

.plans-content {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.content-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 48px;
}